version: '3'
services:
  nomad:
    image: hashicorp/nomad
    volumes:
      - ./nomad.hcl:/nomad/config/nomad.hcl
    command: agent -config=/nomad/config/nomad.hcl
    network_mode: host

  grafana:
    image: grafana/grafana
    environment:
      GF_INSTALL_PLUGINS: grafana-simple-json-datasource
    ports:
      - "3000:3000"
